#include "resource.h"
#include <Windows.h>
#include <CommCtrl.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST	"check.exe.manifest"

IDD_ADDTASK DIALOGEX 0, 0, 180, 52
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 10, "MS Shell Dlg", 400, 0, 0x1
CAPTION "Add Task"
{
	LTEXT			"Task Name:", IDC_LTEXT_TASKNAME, 5, 5, 40, 12
	EDITTEXT		IDC_EDITTASK, 50, 4, 125, 10
	CONTROL 		"DateTime", IDC_DATETIMEPICKER, DATETIMEPICK_CLASS,  DTS_SHORTDATEFORMAT, 5, 18, 75, 12
	DEFPUSHBUTTON	"Ok", IDOK, 85, 35, 40, 12
	DEFPUSHBUTTON	"Cancel", IDCANCEL, 130, 35, 40, 12
}

IDB_ALIGNLEFT	BITMAP 	"alignleft.bmp"
IDB_ALIGNRIGHT	BITMAP	"alignright.bmp"
IDB_WINDOW		BITMAP	"window.bmp"